/* ==================== Reset style ============================= */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===================== Fonts ================================ */

/* prosto-one-regular - latin_cyrillic */
@font-face {
  font-family: "Prosto One";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/prosto-one-v12-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/prosto-one-v12-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-300 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/kanit-v7-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kanit-v7-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-regular - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/kanit-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kanit-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kanit-600 - latin */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/kanit-v7-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kanit-v7-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* =========================== General ================================= */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Prosto One";
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #011414;
}

/* =========================== Grid style ====================== */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.3;
  color: #111827;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.3;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

/* ====================== Header menu and top-bar start ============================ */

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  padding-bottom: 70px;
  padding-top: 8px;
}

/* ------------------- Top Bar start ------------------------- */

.top-bar {
  max-width: 1321px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  margin: auto;
}
.header__title {
  margin-left: 12px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Prosto One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.header__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__logo-link {
  text-decoration: none;
}
.header__logo-img {
  max-width: 60px;
  width: 100%;
  height: auto;
}
.social__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 40px;
}
.social__links-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.social__links-item {
  margin-right: 20px;
}
.social__links-item:last-child {
  margin-right: 0;
}

.social__links-link {
  text-decoration: none;
}

.profile__action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* 
  .profile__link {
    width: 40px;
    height: 40px;
    border: 2px solid #011414;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 8px;
  } */

.profile__btn-call {
  display: flex;
  padding: 12px 20px;
  background: #ff5300;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 39px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Prosto One";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

/* ------------------- Header menu start ------------------------- */

.header___nav {
  background-color: #ffffff;
  max-width: 1360px;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  border-top: 2px solid #011414;
  border-bottom: 2px solid #011414;
  max-height: 58px;
}

.header__menu-item.active {
  background-color: #011414;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 6px 0;
  border-left: none;
}

.header__menu-item.active .header__menu-link {
  color: #ffffff;
}

.header__menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 6px 0;
}

.header__menu-link {
  text-decoration: none;
  color: #011414;
  width: 100%;
  padding: 9px 44px;
  border-right: 2px solid #011414;
}
.header__menu-link.active {
  border-right: none;
}

.header__menu-item:last-child .header__menu-link {
  border-right: none;
}

/* ========================= Discount section style start ===================================== */

/* ----------------- Tilte --------------------------- */

.discount {
  max-width: 1360px;
  margin: 0 auto;
  background: url(../../img/bg/bg-discount.svg);
  background-repeat: no-repeat;
  background-position: left center;
  /* overflow: hidden; */
}

.percent-icon {
  position: absolute;
  top: 16%;
  left: -12%;
  z-index: -1;
}

.discount__title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 54px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #011414;
  margin-bottom: 10px;
}

.discount__title sup {
  position: relative;
  vertical-align: super;
  font-size: smaller;
  overflow: visible;
}

.discount__title sup img {
  position: absolute;
  bottom: 10px;
  left: -8px;
  width: 26px;
  height: 43px;
}

.discount_subtitle {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #011414;
}

.discount__masonry {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  margin-left: auto;
  margin-top: 50px;
  /* margin: 20px; */
  padding: 0;
  max-width: 1165px;
  position: relative;
}
.masonry__item {
  display: inline-flex;
  /* margin: 0 auto 0 48px; */
  width: 100%;
  transition: 1s ease all;
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  -o-transition: 1s ease all;
  max-width: 375px;
  margin-bottom: 48px;
}

@media only screen and (max-width: 320px) {
  .discount__masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .discount__masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .discount__masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1201px) {
  .discount__masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.discount__col {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.discount__info {
  max-height: 176px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  margin-top: 85px;
}

.discount-block-1 {
  max-width: 375px;
  height: 452px;
  background: url(../../img/discount/discount1.png);
}
.discount-block-2 {
  max-width: 375px;
  height: 376px;
  background: url(../../img/discount/discount4.png);
}
.discount-block-3 {
  max-width: 375px;
  height: 450px;
  background: url(../../img/discount/discount7.png);
}
.discount-block-4 {
  max-width: 375px;
  height: 509px;
  background: url(../../img/discount/discount2.png);
}
.discount-block-5 {
  max-width: 375px;
  height: 452px;
  background: url(../../img/discount/discount5.png);
}
.discount-block-6 {
  max-width: 375px;
  height: 509px;
  background: url(../../img/discount/discount8.png);
}
.discount-block-7 {
  max-width: 375px;
  height: 452px;
  background: url(../../img/discount/discount3.png);
}
.discount-block-8 {
  max-width: 375px;
  height: 452px;
  background: url(../../img/discount/discount6.png);
}
.discount-block-9 {
  max-width: 375px;
  height: 451px;
  background: url(../../img/discount/discount9.png);
}

.discount-block-1 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}
.discount-block-2 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}
.discount-block-3 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}
.discount-block-4 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}
.discount-block-5 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}
.discount-block-6 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}
.discount-block-7 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}
.discount-block-8 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}
.discount-block-9 .discount__info {
  background-color: rgba(12, 91, 142, 0.9);
}

.discount__info p {
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.disount__price {
  font-family: Prosto One;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: flex-start;
  margin-bottom: auto;
}

.disount__date {
  font-family: Kanit;
  font-size: 12px;
  line-height: 22px;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: auto;
}

.discount_more-btn {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  color: #ff5300;
  text-decoration: none;
  position: relative;
  margin-left: auto;
  margin-top: auto;
}

.discount_more-btn img {
  margin-left: 4px;
}

/* 
.discount_more-btn::after {
  content: "";
  position: absolute;
  background: url(../../img/icons/icon-detail-arrow.svg);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 20px;
  height: 20px;
  margin-left: 4px;
} */

/* ========================= Service section style start ===================================== */

.service {
  max-width: 1360px;
  margin: 0 auto;
  background: url(../../img/bg/bg-service.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: inherit;
  /* overflow: hidden; */
}

.service-icon {
  position: absolute;
  bottom: 5.5%;
  left: 14%;
  z-index: -1;
}

.service__title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 54px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #011414;
  margin: auto;
  margin-left: 118px;
}

.service__title sup {
  position: relative;
  vertical-align: super;
  font-size: smaller;
  overflow: visible;
}

.service__title sup img {
  position: absolute;
  bottom: 10px;
  left: -8px;
  width: 26px;
  height: 43px;
}

.service__row {
  max-width: 1362px;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.service__col-1 {
  max-width: 495px;
  /* max-height: 326px; */
  height: 326px;
  /* width: 100%; */
  /* height: 100%; */
  padding: 72px 56px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #011414;
  border-right: 1px solid #011414;
}

.service__col-2 {
  max-width: 473px;
  /* max-height: 326px; */
  height: 326px;
  /* width: 100%; */
  /* height: 100%; */
  padding: 72px 56px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #011414;
  border-left: 1px solid #011414;
}

.service__col-3 {
  max-width: 387px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service__col-4 {
  max-width: 867px;
  width: 100%;
  padding: 72px 56px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: -1px;
  margin-top: -2px;
  margin-bottom: 60px;
  border: 2px solid #011414;
}

.service__col-title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0c5b8e;
}

.service__col-subtitle {
  font-family: Kanit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #011414;
}

.service_more-btn {
  font-family: Prosto One;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #ff5300;
  text-decoration: none;
  position: relative;
  margin-left: auto;
  margin-top: 28px;
}

.p-0 {
  padding: 0 !important;
}

/* ========================= Rate section style start ===================================== */

/* ================================ Footer style start ============================== */

.footer {
  background: #011414;
  padding-top: 28px;
  padding-bottom: 16px;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
}
.footer__logo {
  margin-right: auto;
  margin-left: 0;
}
.footer__lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 21px;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 81%;
}
.footer__menu {
}
.footer__menu-item {
  margin-bottom: 16px;
}

.footer__menu-title {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #e0e0e0;
  margin-bottom: 6px;
}

.footer__menu-link {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #e0e0e0;
}

.footer__menu-link-action {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #02a0e3;
  text-decoration: none;
}

.footer__cookie-info {
  margin: 41px auto 9px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__cookie-info p {
  font-family: Kanit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

.footer__cookie-link {
  font-family: Kanit;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #02a0e3;
  text-decoration: none;
  margin-left: 10px;
}

.footer__menu-link-action span {
  color: #ffffff;
}
